QProgressBar{
	background: #292a2d;
	border-radius:10px;
	color: white;
	margin-right: 30px;
	margin-left: 30px;
	border: 2px solid white;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	font-family: "Saira Stencil One";
}

QTextEdit#lyrics_header{
	font-family: "Saira Stencil One";
	border: none;
    font-size: 12px;
}

QTextEdit#lyrics_current{
	font-family: "Saira Stencil One";
    font-size: 72px;
	border: none;
	color: #F88FFF;
	padding-top:80px;
} 

QTextEdit#lyrics_next {
    background-color: rgba(0,0,0,180);
    color: #d3d3d3;
    border: none;
    font-size: 24px;   /* ajusta */
}

QProgressBar::chunk{
	border-radius: 5px;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0
	rgba(254,170,199,255),stop:1 rgba(100,85,255,255));
}

QDockWidget {
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-weight: bold;
}

QTabWidget::pane{
    background: rgba(0,0,0,0.5);
    border:0;
}

QTabBar::tab{
    background: rgba(117,117,117,0.5);
    color: white;
    font-weight: bold;
}

QDialog{
	border: 2px solid #7d73e8;
}

QListWidget{
    background: rgba(255,255,255,0.1);
    font-size:18px;
    font-weight: bold;
    color: white;
}

QListWidget:item:focus {
    border: 1px solid #cf4ee3;  /* Borde morado cuando tiene foco */
	background: black;
	
}

/* Estilos para la barra de scroll vertical */
QListWidget QScrollBar:vertical {
    background: white;      /* Color de fondo de la barra */
    width: 10px;                        /* Ancho de la barra */
}

/* Estilos para el "handle" (barra deslizante) */
QListWidget QScrollBar::handle:vertical {
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(132,76,171,255),
    stop:1 rgba(122,130,255,255));      /* Color de la barra deslizante */
    border-radius: 3px;       /* Bordes redondeados */
    min-height: 20px;         /* Altura mínima del handle */
}

/* Estilos para los botones de incremento/decremento (flechas) */
QListWidget QScrollBar::add-line:vertical,
QListWidget QScrollBar::sub-line:vertical {
    background: transparent;  /* Fondo transparente */
    height: 0px;              /* Ocultar botones */
    width: 0px;
}

/* Estilos para el fondo de la barra */
QListWidget QScrollBar::add-page:vertical,
QListWidget QScrollBar::sub-page:vertical {
    background: transparent;
}

QListWidget QScrollBar:Horizontal {
    background: white;      /* Color de fondo de la barra */
    width: 10px;                        /* Ancho de la barra */
}

/* Estilos para el "handle" (barra deslizante) */
QListWidget QScrollBar::handle:Horizontal {
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(132,76,171,255),
    stop:1 rgba(122,130,255,255));      /* Color de la barra deslizante */
    border-radius: 3px;       /* Bordes redondeados */
    min-height: 20px;         /* Altura mínima del handle */
}

/* Estilos para los botones de incremento/decremento (flechas) */
QListWidget QScrollBar::add-line:Horizontal,
QListWidget QScrollBar::sub-line:Horizontal {
    background: transparent;  /* Fondo transparente */
    height: 0px;              /* Ocultar botones */
    width: 0px;
}

/* Estilos para el fondo de la barra */
QListWidget QScrollBar::add-page:Horizontal,
QListWidget QScrollBar::sub-page:Horizontal {
    background: transparent;
}


/* Estilos para el "handle" (barra deslizante) */
QScrollBar:vertical {
    background: transparent;      /* Color de la barra deslizante */
	border:0px;
}

    
/* Personalización del 'thumb' (la parte móvil de la barra) */
QScrollBar::handle:vertical {
	background: qlineargradient(
	spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
stop:0 rgba(132,76,171,255),
stop:1 rgba(122,130,255,255)); 
	min-height: 20px;
	border-radius: 6px;
}

/* Efecto hover en el thumb */
QScrollBar::handle:vertical:hover {
	background: qlineargradient(
	spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
stop:0 rgba(122,130,255,255),
stop:1 rgba(132,76,171,255));  /* Color rosa claro */
}

/* Flechas de incremento/decremento (opcional) */
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
	height: 0px;
}

/* Fondo cuando se presiona la barra */
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: transparent;
}


p{
    color: red;
    font-size: 18px;
    animation: typing 2s steps(20) infinite alternate-reverse;
}

@keyframes typing{
    from{
        width: 0ch;
    }
}

QLabel{
    color: white;
    font-weight: bold;
    font-size: 14px;
}

QRadioButton{
    color: white;
    font-weight: bold;
    font-size: 14px;
}

QPushButton#file_btn{
    background-color: transparent;
    border-radius:20px;
}

QLineEdit#SongText{
    margin-bottom: 5px;
}


QPushButton#file_btn:pressed{
    background-color: darkgray;
    border-radius:20px;
    border:5px solid gray;
}

QPushButton#file_btn:hover{
    background-color: transparent;
    border-radius:20px;
}

QPushButton#aceptar_btn{
    background-color: transparent;
    border-radius:30px;
    padding:3px;
}

QPushButton#aceptar_btn:disabled{
    background-color: transparent;
    border-radius:30px;
    padding:3px;
}

QPushButton#aceptar_btn:pressed{
    padding:7px;
    border:5px solid transparent;
}

QPushButton#aceptar_btn:hover{
    border-radius:20px;
    padding:7px;
}

QPushButton#queue_btn{
    background-color: transparent;
    border-radius:30px;
    padding:3px;
}

QPushButton#queue_btn:disabled{
    background-color: transparent;
    border-radius:30px;
    padding:3px;
}

QPushButton#queue_btn:pressed{
    padding:7px;
    border:5px solid transparent;
}

QPushButton#queue_btn:hover{
    border-radius:20px;
    padding:7px;
}


QPushButton#paypal_btn{
    background-color: transparent;
    border-radius:30px;
    padding:3px;
}

QPushButton#palypal_btn:disabled{
    background-color: transparent;
    border-radius:30px;
    padding:3px;
}

QPushButton#palypal_btn:pressed{
    padding:7px;
    border:5px solid transparent;
}

QPushButton#palypal_btn:hover{
    border-radius:20px;
    padding:7px;
}

QPushButton#cancelar_btn{
    background-color: transparent;
    border-radius:30px;
    padding:3px;
}

QPushButton#cancelar_btn:pressed{
    padding:7px;
    border:5px solid transparent;
}

QPushButton#cancelar_btn:hover{
    border-radius:20px;
    padding:5px;
}


QPushButton#extract_name_btn{
    background-color: transparent;
    border-radius:30px;
    padding:3px;
}

QPushButton#extract_name_btn:pressed{
    padding:7px;
    border:5px solid transparent;
}

QPushButton#extract_name_btn:hover{
    border-radius:20px;
    padding:5px;
}

QLineEdit{
    color: white;
    font-weight: bold;
    border-radius:8px;
    border:2px solid white;
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
}



QPushButton#drums_btn{
    background-color: transparent;
    border-radius:20px;
}

QPushButton#drums_btn:checked{
    background-color: transparent;
}

QPushButton#drums_btn:pressed{
    border:8px solid transparent;
}

QPushButton#drums_btn:hover{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    border-radius:20px;
}

QPushButton#vocals_btn{
    background-color: transparent;
	border-radius:20px;
}

QPushButton#vocals_btn:checked{
    background-color: transparent;
}

QPushButton#vocals_btn:pressed{
    border:8px solid transparent;
}

QPushButton#vocals_btn:hover{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(132,76,171,255),
    stop:1 rgba(122,130,255,255));
    border-radius:20px;
}

QPushButton#bass_btn{
    background-color: transparent;
    border-radius:20px;
}

QPushButton#bass_btn:checked{
    background-color: transparent;
}

QPushButton#bass_btn:pressed{
    border:8px solid transparent;
}

QPushButton#bass_btn:hover{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    border-radius:20px;
}

QPushButton#other_btn{
    background-color: transparent;
    border-radius:20px;
}

QPushButton#other_btn:checked{
    background-color: transparent;
}

QPushButton#other_btn:pressed{
    border:5px solid transparent;
}

QPushButton#other_btn:hover{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(132,76,171,255),
    stop:1 rgba(122,130,255,255));
    border-radius:20px;
}

QStatusBar{
    background-color: rgba(78,78,78,0.5);
    color: white;
    font-weight: bold;
}

QMenuBar{
    background-color: rgba(78,78,78,0.5);
    color: white;
    font-weight: bold;
}

QMenuBar QMenu{
    background-color: rgba(78,78,78,0.1);
    color: white;
    font-weight: bold;
}

QMenuBar QMenu::item::selected{
    background-color: darkgray;
}

QMenuBar QMenu::item::pressed{
    background-color: gray;
}

QPushButton#prev_btn{
    background-color: rgba(255,255,255,0.1);
    border-radius:20px;
    padding:7px;
}

QPushButton#prev_btn:pressed{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    padding:7px;
    border:5px solid black;
}

QPushButton#prev_btn:hover{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    padding:7px;
}

QPushButton#play_btn{
    background-color: transparent;
    border-radius:40px;
    padding:3px;
}

QPushButton#play_btn:checked{
    background-color: white;
}

QPushButton#play_btn:pressed{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    padding:7px;
    border:1px solid white;
}

QPushButton#play_btn:hover{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    border-radius:40px;
}


QPushButton#next_btn{
    background-color: rgba(255,255,255,0.1);
    border-radius:20px;
    padding:7px;
}

QPushButton#next_btn:pressed{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    padding:7px;
    border:5px solid black;
}

QPushButton#next_btn:hover{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    padding:7px;
}

QPushButton#stop_btn{
    background-color: transparent;
    border-radius:20px;
    padding:7px;
}

QPushButton#stop_btn:pressed{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    padding:7px;
    border:5px solid black;
}

QPushButton#stop_btn:hover{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    padding:7px;
}



QCheckBox {
    spacing:15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}


QDial {
    background-color: #ffffff;
    border-radius: 15px;
}

QLabel {
    transition: background-color 50ms ease;
}

QLabel[accessibleName="led"] {
    box-shadow: 0 2px 4px blue;
}

QLineEdit[mandatory="true"] {
    border: 2px solid #FFA500;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
}

QRadioButton::indicator {
    width: 20px;
    height: 20px;
}

QSlider{
	margin-bottom:10px;
	margin-left:5px;
}

QSlider::groove:Horizontal{
    height: 4px;
	border-radius: 2px;    
    background-color: rgb(52,59,72);
}

QSlider::handle:Horizontal{
    background: white;
    width: 10px;
    margin: -3px -1px;
    border-radius: 5px;
    border: 1px solid #5555ff;
}

QSlider::handle:Horizontal:hover{
    background: rgb(222,115,126);
	width: 14px;
	border-radius: 7px;
	margin: -6px 0px;
	border: 1px solid #5555ff;
}

QSlider::add-page:Horizontal{
    background: qlineargradient(
        spread:pad, x1:0, y1:0, x2:1, y2:1,
    stop:0 rgba(188,231,215,255),
    stop:1 rgba(122,215,255,255));
}

QSlider::sub-page:Horizontal{
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(132,76,171,255),
    stop:1 rgba(122,130,255,255));
}

QComboBox{
    padding: 5;
    color: white;
    font-weight: bold;
    border-radius:8px;
    border:2px solid white;
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
    padding-right: 0;  /* Elimina el espacio reservado para la flecha */
}

QComboBox::drop-down {
    width: 0;          /* Oculta el ancho del botón */
    height: 0;         /* Oculta el alto del botón */
    border: none;      /* Elimina el borde */
    padding: 0;        /* Elimina el espacio interno */
}

QComboBox QListView{
    padding: 10;
    color: white;
    font-weight: bold;
    border-radius:8px;
    border:2px solid white;
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(122,130,255,255),
    stop:1 rgba(132,76,171,255));
}

QComboBox QListView::item:hover{
    background-color: white;
    color: rgb(132,76,171);

}

/* Estilos para la barra de scroll vertical */
QComboBox QAbstractItemView QScrollBar:vertical {
    background: white;      /* Color de fondo de la barra */
    width: 8px;                        /* Ancho de la barra */
}

/* Estilos para el "handle" (barra deslizante) */
QComboBox QAbstractItemView QScrollBar::handle:vertical {
    background: qlineargradient(
        spread:pad, x1:1, y1:0, x2:0, y2:0.556818,
    stop:0 rgba(132,76,171,255),
    stop:1 rgba(122,130,255,255));      /* Color de la barra deslizante */
    border-radius: 3px;       /* Bordes redondeados */
    min-height: 20px;         /* Altura mínima del handle */
}

/* Estilos para los botones de incremento/decremento (flechas) */
QComboBox QAbstractItemView QScrollBar::add-line:vertical,
QComboBox QAbstractItemView QScrollBar::sub-line:vertical {
    background: transparent;  /* Fondo transparente */
    height: 0px;              /* Ocultar botones */
    width: 0px;
}

/* Estilos para el fondo de la barra */
QComboBox QAbstractItemView QScrollBar::add-page:vertical,
QComboBox QAbstractItemView QScrollBar::sub-page:vertical {
    background: transparent;
}
